{% extends "layout.html" %}

{% block title %}Delete review – Book review app{% endblock %}

{% block content %}
    <h2>Delete the review</h2>
    <p>Are you sure you wish to delete your review permanently?</p>
    <form action="/delete_review/{{ review.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" name="delete" value="delete">
        <input type="submit" name="go back" value="return">
    </form>
{% endblock %}