<!DOCTYPE html>
<html>
    <head>
        <title>Edit the review</title>
    </head>
    <body>
        <h1>Edit the review</h1>
        <form action="/update_review" method="post">
            <input type="hidden" name="review_id" value="{{ review.id }}" />

            <a href="/">previous</a>
            
            <p>
                Book title: <br />
                <input type="text" name="title" maxlength="100" size="86" value="{{ review.title }}" />
            </p>
            <p>
                Author of the book: <br />
                <input type="text" name="author" maxlength="50" size="86" value="{{ review.author }}"/>
            </p>
            <p>
                Review: <br />
                <textarea name="review" rows="22" cols="97">{{ review.review }}</textarea>
            </p>
            <p>
                Grade 0-10: <br />
                <input type="number" name="grade" min="0" max="10" value="{{ review.grade }}"/>
            </p>
            <input type="hidden" name="review_id" value="{{ review.id }}">
            <input type="submit" value="Confirm" />
        </form>
    </body>
</html>
