{% extends "layout.html" %}

{% block title %}Edit review – Book review app{% endblock %}

{% block content %}
    <h2>Edit the review</h2>
    <form action="/update_review" method="post">
        <input type="hidden" name="review_id" value="{{ review.id }}" />

        {% for class in all_classes %}
        <p>
            <label for="class_{{ class }}">{{ class|capitalize }}:</label><br>
            <select id="class_{{ class }}" name="classes" required>
                <option value="" disabled selected>(select)</option>
                {% for option in all_classes[class] %}
                    {% if classes[class] == option %}
                    <option value="{{ class }}:{{ option }}" selected>
                        {{ option }}
                    </option>
                    {% else %}
                    <option value="{{ class }}:{{ option }}">
                        {{ option }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        {% endfor %}

        <p>
            <label for="title">Book title:</label><br>
            <input type="text" id="title" name="title" maxlength="100" size="86" value="{{ review.title }}" required/>
        </p>
        <p>
            <label for="author">Author of the book:</label><br>
            <input type="text" id="author" name="author" maxlength="50" size="86" value="{{ review.author }}" required/>
        </p>
        <p>
            <label for="review">Review:</label><br>
            <textarea id="review" name="review" rows="22" cols="97" required>{{ review.review }}</textarea>
        </p>
        <p>
            <label for="grade">Grade 0–10:</label><br>
            <input type="number" id="grade" name="grade" min="0" max="10" value="{{ review.grade }}" required/>
        </p>

        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Confirm" />
    </form>
{% endblock %}