<!DOCTYPE html>
<html>
<head>
    <title>Search for a book review</title>
</head>
<body>
    <h1>Search for a book review</h1>
    <form action="/find_review" method="get">
        <p>
            search <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="search">
    </form>

    <p>
        <a href="/">Front page</a>
    </p>
    
    {% if query %}
    <h2>Results:</h2>
    <ul>
        {% for result in results %}
        <li><a href="/review/{{ result.id }}">{{ result.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>