{% extends "layout.html" %}

{% block title %}Search – Book review app{% endblock %}

{% block content %}
    <h2>Search for a book review:</h2>

    <form action="/find_review" method="get">
        <p>
            <label for="title">Book title:</label><br>
            <input type="text" id="title" name="title" value="{{ title|default('') }}" size="43">
        </p>
        <p>
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author" value="{{ author|default('') }}" size="43">
        </p>
        <button type="submit">Find</button>
    </form>

    {% if title or author %}
        <h3>Results:</h3>
        {% if results %}
            <p>(Sorted by Relevance)</p>
            <ul class="reviews">
                {% for result in results %}
                <li class="review">
                    <div class="review_line">
                        <a class="review_link" href="/review/{{ result.id }}">{{ result.title }}</a>
                        by <span class="review_author">{{ result.author }}</span><br>
                        Reviewer: <a class="greeting_user" href="/user/{{ result.user_id }}">{{ result.username }}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No matches.</p>
        {% endif %}
  {% endif %}
{% endblock %}