{% extends "layout.html" %}

{% block title %}Sign in – Book review app{% endblock %}

{% block content %}

  {% if session.username %}
    <p>You are already logged in as {{ session.username }}.</p>
  {% else %}
    <h2>Sign in:</h2>
    <form action="/login" method="post">
      <p>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required />
      </p>
      <p>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required />
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit">Sign in</button>
    </form>
  {% endif %}
{% endblock %}