{% extends "layout.html" %}

{% block title %}Register – Book review app{% endblock %}

{% block content %}
  <h2>Registration</h2>

  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" required/>
    </p>
    <p>
      Confirm password: <br />
      <input type="password" name="password2" required/>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Create account" />
  </form>
{% endblock %}