{% extends "layout.html" %}

{% block title %}Register – Book review app{% endblock %}

{% block content %}
  <h2>Registration</h2>

  <form action="/create" method="post">
    <p>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username" required />
    </p>
    <p>
      <label for="password1">Password:</label><br>
      <input type="password" id="password1" name="password1" required />
    </p>
    <p>
      <label for="password2">Confirm password:</label><br>
      <input type="password" id="password2" name="password2" required />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Create account" />
  </form>
{% endblock %}