{% extends "layout.html" %}

{% block title %}Review – Book review app{% endblock %}

{% block content %}
    <h2>Review a book:</h2>
    <form action="/create_review" method="post">

        {% for class in classes %}
            <p>
                {{ class|capitalize }}: <br />
                <select name="classes" required>
                    <option value="" disabled selected>(select)</option>
                    {% for option in classes[class] %}
                    <option value="{{ class }}:{{ option }}">
                        {{ option }}
                    </option>
                    {% endfor %}
                </select>
            </p>
        {% endfor %}

        <p>
            Book title: <br />
            <input type="text" name="title" maxlength="100" size="86" required />
        </p>
        <p>
            Author of the book: <br />
            <input type="text" name="author" maxlength="50" size="86" required />
        </p>
        <p>
            Review: <br />
            <textarea name="review" rows="22" cols="97" required ></textarea>
        </p>
        <p>
            Grade 0-10: <br />
            <input type="number" name="grade" min="0" max="10" required />
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Publish" />
    </form>
{% endblock %}