<!DOCTYPE html>

<html>
    <head>
        <title>{{ review.title }} by {{ review.author }}</title>
    </head>

    <body>
        <h1>{{ review.title }} by {{ review.author }}</h1>
        {% if session.user_id == review.user_id %}

        <p>
            <a href="/edit_review/{{review.id}}">Edit</a>
            <a href="/delete_review/{{review.id}}">Delete</a>
        {% endif %}
            <br />Grade: {{ review.grade }} <br /><br /> {{ review.review }} <br /><br /><br /> Review by <br /> {{ review.username }}
        </p>
    </body>
</html>