<!DOCTYPE html>

<html>
    <head>
        <title>{{ review.title }} by {{ review.author }}</title>
    </head>

    <body>
        <h1>{{ review.title }} by {{ review.author }}</h1>

        <a href="/">Front page</a>

        {% if session.user_id == review.user_id %}
        <p>
            <a href="/edit_review/{{review.id}}">Edit</a>
            <a href="/delete_review/{{review.id}}">Delete</a>
        {% endif %}
            <br />Grade: {{ review.grade }} <br /><br /> {{ review.review }} <br /><br /><br />
        </p>
        <p>
            Review by <br /> <a href="/user/{{ review.user_id }}"> {{ review.username }}</a>
        </p>
        <p>Classes:
            <ul>
                {% for class in classes %}
                <li>{{ class.title|capitalize }}: {{ class.value }}</li>
                {% endfor %}
            </ul>
        </p>

        <h2>Comments:</h2>

        <ul>
            {% for comment in comments %}
              <li>{{ comment.username }}: {{ comment.comment }} {{ comment.comment_time }}</li>
            {% endfor %}
        </ul>

        <form action="/create_comment" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="review_id" value="{{ review.id }}">
            <textarea name="comment" rows="6" cols="40"></textarea>
            <br>
            <input type="submit" value="Post">
        </form>


    </body>
</html>